
<h1>Hello Adhya S Bhat</h1>
<h2>1) Parent and Child componet</h2>
<h3>{{data}}</h3>
<app-child (updateDataEvent)="updateData($event)"></app-child>
<h2>2) List of Favorites</h2>
<h3 *ngFor = "let item of fav">{{item.sports}}--{{item.chocolate}}--{{item.fruits}}</h3>
<h2>3) Data Pipe</h2>
<h3>{{pipe | json | uppercase}}</h3>
<h3>{{pipe | json | lowercase}}</h3>
<h3>{{pipe | slice :1:6}}</h3>
<h2>4) Custom Data pipe to trim string</h2>
<h3>{{custompipe}}</h3>
<h3>{{custompipe | slice:0:6}}</h3>
<h2>5) Color Picker</h2>
<div>
    <input style="width:600px ; height:200px" [(colorPicker)]="color" [style.background]="color"/>
</div>